@page "{restaurantId:int}"
@using Microsoft.VisualStudio.Web.CodeGeneration.Contracts.Messaging
@model Ptest1.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.Restaurant.Name</h1>

<div>
    Id: @Model.Restaurant.Id
</div>

<div>
    Location: @Model.Restaurant.Location
</div>

<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-primary">All Restaurants</a>
 